<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA28iMg5TmAm8IQ7TpbrRtnpy_8XjNc8CA</string>
	<key>GCM_SENDER_ID</key>
	<string>234936259278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.demofacbundleid.com</string>
	<key>PROJECT_ID</key>
	<string>b-fac-74b03</string>
	<key>STORAGE_BUCKET</key>
	<string>b-fac-74b03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234936259278:ios:e699a15912a25d0a13f69f</string>
</dict>
</plist>